.subscribeForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    @include mobile {
        padding-bottom: 50px;
    }
    form {
        text-align: center;
        width: 40%;
        @include tablet {
            width: 70%;
        }
        h4 {
            @include serif;
            font-size: 4rem;
            color: $seagreen;
            @include mobile {
                font-size: 2.5rem;
            }
        }
        p {
            @include sansLight;
            font-size: 3rem;
            padding: 20px 0;
            @include mobile {
                font-size: 2rem;
            }
        }
        input {
            width: calc(100% - 200px);
            padding: 5px;
            font-size: 3rem;
            @include sansLight;
            border: 2px solid $seagreen;
            @include mobile {
                width: calc(100% - 100px);
                font-size: 2rem;
            }
        }
        button {
            display: inline-block;
            width: 200px;
            padding: 5px;
            font-size: 3rem;
            @include mobile {
                width: 100px;
                font-size: 2rem;
            }
            @include sansLight;
            border: 2px solid transparent;
            background-color: $seagreen;
            color: $white;
        }
    }
}

.footerNavContainer {
    width: 100%;
}

.footerNav {
    .footerFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        @include mobile {
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
        .bottomNav ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            max-height: 200px;
            @include mobile {
                flex-direction: row;
                justify-content: space-evenly;
                max-height: auto;
                width: 100%;
                padding: 20px 0;
            }
            li {
                width: 150px;     
                @include mobile {
                    width: auto;
                }       
            }
            a {
                @include serif;
                font-size: 2rem;
                color: $black;
                padding: 20px 20px;
                display: inline-block;
                margin-left: -20px;
                transition: all 0.4s ease;
                @include mobile {
                    padding: 10px 20px;
                    margin-left: 0;
                }
                &:hover, &:focus {
                    color: $seagreen;
                }
            }
        }
        .socialMediaIcons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            @include mobile {
                width: 100%;
            }
            li {
                align-self: flex-end;
                @include mobile {
                    align-self: center;
                }
            }
            a {
                padding: 0 20px;
                font-size: 4rem;
                color: $orange;
                transition: all 0.3s ease;
                @include mobile {
                    padding: 0 40px;
                }
                &:nth-of-type(3) {
                    padding-right: 0;
                    @include mobile {
                        padding-right: 40px;
                    }
                }
                &:hover, &:focus {
                    color: #de882c;
                }
            }
        }
    }
    h2 {
        @include sans;
        font-size: 3rem;
        @include mobile {
            font-size: 2rem;
        }
    }
}

