@import "mediaqueries";

// stripping styles

body, div, section, img, h1, h2, h3, h4, p, span, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

// global styles

html {
    font-size: 62.5%;
}

body {
    color: $black;
}

.wrapper {
    width: 80vw;
    margin: 0 10vw;
    @include mobile {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}