@import "mediaQueries";

header {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include mobile {
        width: 100%;
    }
    .logoContainer {
        @include mobile {
            width: 100vw;
        }
    }
    .logo {
        width: 100%;
        border-bottom: 2px solid $black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        @include mobile {
            align-items: flex-start;
        }
        h2 {
            @include sans;
            padding-bottom: 20px;
            display: inline-block;
            font-size: 3rem;
            @include mobile {
                display: block;
                font-size: 2rem;
                padding-bottom: 10px;
            }
        }
        h3 {
            @include serif;
            font-size: 2.2rem;
            padding-bottom: 20px;
            display: inline-block;
            @include mobile {
                display: none;
            }
        }
    }
    .nav {
        @include serif;        
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        padding: 20px 0;
        @include mobile {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 10px 0;
        }
    }
    ul {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    li {
        display: inline-block;
        span {
            cursor: pointer;
        }
    }
    nav {
        display: inline-block;
        width: 50%;
        @include mobile {
            display: none;
        }
        li:nth-of-type(2) {
            padding: 0 50px;
        }
    }
    .searchAndCart {
        display: inline-block;
        width: 50%;
        @include mobile {
            width: 100%;
        }
        ul {
            justify-content: flex-end;
            @include mobile {
                justify-content: space-between;
            }
            .searchContainer {
                padding: 0 50px;
                @include mobile {
                    padding: 0;
                }
            }
            li.hiddenSearchBar {
                width: 100%;
                text-align: right;
            }
        }
        .searchBarContainer {
            display: none;
            @include sans;
            font-size: 2rem;
            color: $black;
            @include mobile {
                font-size: 1.7rem;
            }
            i {
                margin: 0 10px;
                color: $black;
                @include mobile {
                    margin: 0 5px;
                }
                &:hover, &:focus {
                    color: $seagreen;
                }
            }
        }
        .searchBarActive {
            display: block;
            padding: 0 5px;
            margin: 0 20px;
            @include mobile {
                margin: 0;
            }
        }
    }
    .searchContainer {
        display: inline-block;
    }
    .headerImage {
        width: 100%;
        height: 70vh;
        background-image: url("../assets/headerImage.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.7s ease;
        .headerText {
            color: $white;
            text-align: center;
            width: 600px;
            @include mobile {
                width: 100%;
                padding: 20px;
            }
            h1 {
                @include serif;
                font-size: 10rem;
                padding: 0;
                line-height: 0.9;
                margin-bottom: -10px;
                @include mobile {
                    font-size: 6rem;
                    background-color: rgba(0, 0, 0, 0.3);
                    padding: 20px 0;
                }
            }
            span {
                @include serif;
                font-size: 3rem;
                display: block;
                padding: 20px 0;
            }
            a {
                @include sans;
                font-size: 3rem;
                color: $white;
                border: 0;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 10px 20px;
                display: inline-block;
                transition: all 0.8s ease;
                &:hover, &:focus {
                    background-color: rgba(126, 193, 155, 0.5);
                }
            }
        }
    }
    .headerImageScroll {
        padding-top: 50px;
        margin-top: 100px;
        transition: all 0.7s ease;
    }
    .scrollContainer {
        position: static;
        padding-top: 50px;
        transition: position 0.5s ease, transform 0.7s ease, z-index 0.7s ease;
        @include mobile {
            padding-top: 20px;
        }
    }
    .scrollContainerActive {
        position: fixed;
        top: 0px;
        transform: translateY(-50px);
        left: 0;
        background-color: $white;
        z-index: 5000;
        @include mobile {
            transform: translateY(-10px);
        }
    }
}