html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, div, section, img, h1, h2, h3, h4, p, span, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 62.5%;
}

body {
  color: #000;
}

.wrapper {
  width: 80vw;
  margin: 0 10vw;
}

@media (max-width: 680px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
}

header {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 680px) {
  header {
    width: 100%;
  }
}

@media (max-width: 680px) {
  header .logoContainer {
    width: 100vw;
  }
}

header .logo {
  width: 100%;
  border-bottom: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 680px) {
  header .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

header .logo h2 {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 20px;
  display: inline-block;
  font-size: 3rem;
}

@media (max-width: 680px) {
  header .logo h2 {
    display: block;
    font-size: 2rem;
    padding-bottom: 10px;
  }
}

header .logo h3 {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  padding-bottom: 20px;
  display: inline-block;
}

@media (max-width: 680px) {
  header .logo h3 {
    display: none;
  }
}

header .nav {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

@media (max-width: 680px) {
  header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px 0;
  }
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header li {
  display: inline-block;
}

header li span {
  cursor: pointer;
}

header nav {
  display: inline-block;
  width: 50%;
}

@media (max-width: 680px) {
  header nav {
    display: none;
  }
}

header nav li:nth-of-type(2) {
  padding: 0 50px;
}

header .searchAndCart {
  display: inline-block;
  width: 50%;
}

@media (max-width: 680px) {
  header .searchAndCart {
    width: 100%;
  }
}

header .searchAndCart ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 680px) {
  header .searchAndCart ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .searchAndCart ul .searchContainer {
  padding: 0 50px;
}

@media (max-width: 680px) {
  header .searchAndCart ul .searchContainer {
    padding: 0;
  }
}

header .searchAndCart ul li.hiddenSearchBar {
  width: 100%;
  text-align: right;
}

header .searchAndCart .searchBarContainer {
  display: none;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
}

@media (max-width: 680px) {
  header .searchAndCart .searchBarContainer {
    font-size: 1.7rem;
  }
}

header .searchAndCart .searchBarContainer i {
  margin: 0 10px;
  color: #000;
}

@media (max-width: 680px) {
  header .searchAndCart .searchBarContainer i {
    margin: 0 5px;
  }
}

header .searchAndCart .searchBarContainer i:hover, header .searchAndCart .searchBarContainer i:focus {
  color: #7ec19b;
}

header .searchAndCart .searchBarActive {
  display: block;
  padding: 0 5px;
  margin: 0 20px;
}

@media (max-width: 680px) {
  header .searchAndCart .searchBarActive {
    margin: 0;
  }
}

header .searchContainer {
  display: inline-block;
}

header .headerImage {
  width: 100%;
  height: 70vh;
  background-image: url("../assets/headerImage.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header .headerImage .headerText {
  color: #fff;
  text-align: center;
  width: 600px;
}

@media (max-width: 680px) {
  header .headerImage .headerText {
    width: 100%;
    padding: 20px;
  }
}

header .headerImage .headerText h1 {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10rem;
  padding: 0;
  line-height: 0.9;
  margin-bottom: -10px;
}

@media (max-width: 680px) {
  header .headerImage .headerText h1 {
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
  }
}

header .headerImage .headerText span {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  display: block;
  padding: 20px 0;
}

header .headerImage .headerText a {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  display: inline-block;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

header .headerImage .headerText a:hover, header .headerImage .headerText a:focus {
  background-color: rgba(126, 193, 155, 0.5);
}

header .headerImageScroll {
  padding-top: 50px;
  margin-top: 100px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header .scrollContainer {
  position: static;
  padding-top: 50px;
  -webkit-transition: position 0.5s ease, z-index 0.7s ease, -webkit-transform 0.7s ease;
  transition: position 0.5s ease, z-index 0.7s ease, -webkit-transform 0.7s ease;
  transition: position 0.5s ease, transform 0.7s ease, z-index 0.7s ease;
  transition: position 0.5s ease, transform 0.7s ease, z-index 0.7s ease, -webkit-transform 0.7s ease;
}

@media (max-width: 680px) {
  header .scrollContainer {
    padding-top: 20px;
  }
}

header .scrollContainerActive {
  position: fixed;
  top: 0px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  left: 0;
  background-color: #fff;
  z-index: 5000;
}

@media (max-width: 680px) {
  header .scrollContainerActive {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.topBanners {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 50px 0;
}

@media (max-width: 680px) {
  .topBanners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 0;
    height: 100vh;
  }
}

.topBanners .coffeeMenuBanner {
  width: calc(((100% / 5) * 2) - 100px);
  height: 100%;
  margin-right: 100px;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

@media (max-width: 680px) {
  .topBanners .coffeeMenuBanner {
    width: 100%;
    margin: 20px 0;
  }
}

.topBanners .coffeeMenuBanner a {
  color: #fff;
}

.topBanners .coffeeMenuBanner img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topBanners .coffeeMenuBanner:hover img, .topBanners .coffeeMenuBanner:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.topBanners .coffeeMenuBanner h4 {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
}

@media (max-width: 680px) {
  .topBanners .coffeeMenuBanner h4 {
    font-size: 4rem;
  }
}

.topBanners .coffeeMenuBanner h4 span {
  display: block;
}

.topBanners .coffeeMenuBanner .coffeeMenuBannerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.topBanners .coffeeMenuBanner .coffeeMenuBannerText div {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.topBanners .coffeeMenuBanner .coffeeMenuBannerText .seeMenu {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #fff;
  font-size: 3rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 680px) {
  .topBanners .coffeeMenuBanner .coffeeMenuBannerText .seeMenu {
    font-size: 2rem;
    padding: 5px 10px;
  }
}

.topBanners .coffeeMenuBanner:hover .seeMenu, .topBanners .coffeeMenuBanner:focus .seeMenu {
  background-color: rgba(237, 188, 136, 0.8);
}

.topBanners .newFriendBanner {
  width: calc((100% / 5) * 3);
  height: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
}

@media (max-width: 680px) {
  .topBanners .newFriendBanner {
    width: 100%;
  }
}

.topBanners .newFriendBanner a {
  color: #fff;
}

.topBanners .newFriendBanner img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topBanners .newFriendBanner:hover img, .topBanners .newFriendBanner:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.topBanners .newFriendBanner h4 {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  position: relative;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

@media (max-width: 680px) {
  .topBanners .newFriendBanner h4 {
    font-size: 4rem;
  }
}

.topBanners .newFriendBanner h4::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 100%;
  height: 10px;
  background-color: #7ec19b;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 680px) {
  .topBanners .newFriendBanner h4::after {
    opacity: 1;
  }
}

.topBanners .newFriendBanner:hover h4::after, .topBanners .newFriendBanner:focus h4::after {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.topBanners .newFriendBanner .newFriendBannerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sustainabilityMission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 100px 0;
  background-color: #edbc88;
  color: #fff;
}

@media (max-width: 680px) {
  .sustainabilityMission {
    margin: 20px 0;
    padding: 30px 0;
  }
}

.sustainabilityMission h4 {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
}

@media (max-width: 680px) {
  .sustainabilityMission h4 {
    font-size: 3rem;
  }
}

.sustainabilityMission p {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 680px) {
  .sustainabilityMission p {
    font-size: 2rem;
  }
}

.plantGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 20px;
}

@media (max-width: 680px) {
  .plantGallery {
    display: none;
  }
}

.plantGallery .plantGalleryImg {
  width: calc(100% / 3 - 10px);
  height: 75vh;
}

.plantGallery .plantGalleryImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.addToCart {
  position: fixed;
  top: 0;
  right: 0px;
  width: 600px;
  height: 100vh;
  border-left: 1px solid #e3e3e3;
  background-color: #fff;
  z-index: 10000;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@media (max-width: 680px) {
  .addToCart {
    width: 320px;
  }
}

.addToCart .exitCart {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent;
  padding-top: 10px;
}

@media (max-width: 680px) {
  .addToCart .exitCart {
    background-color: #fff;
  }
}

.addToCart .exitCart .xCart {
  z-index: 110000;
  font-size: 4rem;
  color: #7ec19b;
  margin-left: -70px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 680px) {
  .addToCart .exitCart .xCart {
    margin-left: 0px;
  }
}

.addToCart .exitCart .xCart:hover, .addToCart .exitCart .xCart:focus {
  color: #edbc88;
}

.addToCart .addToCartText {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 100px;
  overflow: scroll;
}

@media (max-width: 680px) {
  .addToCart .addToCartText {
    padding: 10px;
  }
}

.addToCart .addToCartText .addToCartHeader {
  width: 100%;
  padding-top: 50px;
  height: auto;
}

.addToCart .addToCartText .itemsInCart {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 3rem;
  width: 100%;
}

.addToCart .addToCartText .numberOfItemsInOpenCartContainer {
  width: 100%;
}

.addToCart .addToCartText p {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 2rem;
  color: #000;
  text-align: center;
}

.addToCart .addToCartText .priceTotalContainer {
  width: 100%;
  text-align: left;
  padding: 0px;
}

.addToCart .addToCartText .priceTotalContainer .priceTotalText {
  display: block;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #000;
  font-size: 2.5rem;
}

@media (max-width: 680px) {
  .addToCart .addToCartText .priceTotalContainer .priceTotalText {
    font-size: 1.8rem;
  }
}

.addToCart .addToCartText .priceTotalContainer .priceTotalText .priceTotal {
  padding-bottom: 20px;
}

.addToCart .addToCartText .priceTotalContainer .emptyCart {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 100%;
  display: block;
  font-size: 2rem;
  margin: 20px 0;
  padding: 10px;
  background-color: #edbc88;
  color: #fff;
  border: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.addToCart .addToCartText .priceTotalContainer .emptyCart:hover, .addToCart .addToCartText .priceTotalContainer .emptyCart:focus {
  background-color: #de882c;
}

.addToCart h5 {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #000;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 680px) {
  .addToCart h5 {
    font-size: 2rem;
  }
}

.addToCart .plantInCart {
  width: 100%;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
  margin: 20px 0;
}

@media (max-width: 680px) {
  .addToCart .plantInCart {
    max-height: 150px;
    padding-bottom: 10px;
    margin: 10px 0;
  }
}

.addToCart .plantInCart .plantInCartImg {
  width: 180px;
  max-height: 180px;
  overflow: none;
}

@media (max-width: 680px) {
  .addToCart .plantInCart .plantInCartImg {
    width: 100px;
    height: 100px;
  }
}

.addToCart .plantInCart .plantInCartImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 180px;
  max-height: 180px;
}

@media (max-width: 680px) {
  .addToCart .plantInCart .plantInCartImg img {
    width: 100px;
    height: 100px;
  }
}

.addToCart .plantInCart .plantInCartText {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 100%;
  color: #000;
  padding-left: 20px;
}

@media (max-width: 680px) {
  .addToCart .plantInCart .plantInCartText {
    padding-left: 10px;
  }
}

.addToCart .plantInCart .plantInCartText .plantInCartName {
  display: block;
  font-size: 2rem;
}

@media (max-width: 680px) {
  .addToCart .plantInCart .plantInCartText .plantInCartName {
    font-size: 1.8rem;
  }
}

.addToCart .plantInCart .plantInCartText .plantInCartPrice, .addToCart .plantInCart .plantInCartText .priceTotal {
  display: block;
  font-size: 2rem;
}

@media (max-width: 680px) {
  .addToCart .plantInCart .plantInCartText .plantInCartPrice, .addToCart .plantInCart .plantInCartText .priceTotal {
    font-size: 1.8rem;
  }
}

.addToCart .plantInCart .plantInCartText .priceTotal {
  padding-bottom: 50px;
}

.hideCart {
  right: -600px;
}

@media (max-width: 680px) {
  .hideCart {
    right: -320px;
  }
}

header .shopHeaderImage {
  background-image: url("../assets/shopHeaderImage.jpg");
}

header .shopHeaderImage .shopHeaderText {
  width: 100%;
}

.shopContainer {
  padding: 100px 0;
}

@media (max-width: 680px) {
  .shopContainer {
    padding: 50px 0 0 0;
  }
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media (max-width: 1100px) {
  .shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.shop .sortAndFilter {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  width: 25%;
}

@media (max-width: 1100px) {
  .shop .sortAndFilter {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .shop .sortAndFilter ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 20px;
  }
}

.shop .sortAndFilter h5 {
  font-size: 2rem;
  margin: 0;
  padding: 0 0 10px 0;
  position: relative;
}

.shop .sortAndFilter h5:nth-of-type(2) {
  padding-top: 20px;
}

@media (max-width: 1100px) {
  .shop .sortAndFilter h5:nth-of-type(2) {
    padding-top: 0;
  }
}

@media (max-width: 680px) {
  .shop .sortAndFilter h5 {
    font-size: 1.7rem;
  }
}

.shop .sortAndFilter h5::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: #000;
}

@media (max-width: 1100px) {
  .shop .sortAndFilter h5::after {
    width: 100%;
  }
}

.shop .sortAndFilter li {
  font-size: 2rem;
  padding: 10px 0;
}

.shop .sortAndFilter li:hover {
  cursor: pointer;
  color: #7ec19b;
}

@media (max-width: 1100px) {
  .shop .sortAndFilter li {
    padding: 5px 0px;
  }
}

@media (max-width: 680px) {
  .shop .sortAndFilter li {
    font-size: 1.7rem;
  }
}

.shop .items {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .shop .items {
    width: 100%;
  }
}

.shop .items .plant {
  width: calc(100% / 3 - 15px);
  height: 50vh;
  margin-bottom: 100px;
  position: relative;
}

@media (max-width: 1250px) {
  .shop .items .plant {
    width: calc(50% - 15px);
    margin-bottom: 100px;
  }
}

@media (max-width: 1100px) {
  .shop .items .plant {
    height: 300px;
  }
}

@media (max-width: 680px) {
  .shop .items .plant {
    height: 200px;
  }
}

.shop .items .plant:hover .addToCartButton {
  height: 75px;
}

.shop .items .plant:hover .addToCartButton span {
  opacity: 1;
  text-align: center;
}

.shop .items .plant .addToCartButton {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(237, 188, 136, 0.7);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 4000;
}

@media (max-width: 1100px) {
  .shop .items .plant .addToCartButton {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 680px) {
  .shop .items .plant .addToCartButton {
    height: 30px;
  }
}

.shop .items .plant .addToCartButton span {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  display: block;
  opacity: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: white;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .shop .items .plant .addToCartButton span {
    opacity: 1;
    text-align: center;
    padding-top: 5px;
    font-size: 2.3rem;
  }
}

@media (max-width: 680px) {
  .shop .items .plant .addToCartButton span {
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.shop .items .plant:nth-of-type(3n+2) {
  margin: 0 15px;
}

@media (max-width: 1250px) {
  .shop .items .plant:nth-of-type(3n+2) {
    margin: 0;
  }
}

@media (max-width: 1250px) {
  .shop .items .plant:nth-of-type(2n) {
    margin-left: 15px;
  }
}

.shop .items .plant img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.shop .items .nameAndPriceFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 10px 0;
}

.shop .items .nameAndPriceFlex div:first-of-type {
  width: 80%;
}

.shop .items .nameAndPriceFlex div:last-of-type {
  width: 20%;
  text-align: right;
}

.shop .items .name, .shop .items .price {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 2rem;
}

@media (max-width: 680px) {
  .shop .items .name, .shop .items .price {
    font-size: 1.7rem;
  }
}

.subscribeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

@media (max-width: 680px) {
  .subscribeForm {
    padding-bottom: 50px;
  }
}

.subscribeForm form {
  text-align: center;
  width: 40%;
}

@media (max-width: 1100px) {
  .subscribeForm form {
    width: 70%;
  }
}

.subscribeForm form h4 {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  color: #7ec19b;
}

@media (max-width: 680px) {
  .subscribeForm form h4 {
    font-size: 2.5rem;
  }
}

.subscribeForm form p {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 3rem;
  padding: 20px 0;
}

@media (max-width: 680px) {
  .subscribeForm form p {
    font-size: 2rem;
  }
}

.subscribeForm form input {
  width: calc(100% - 200px);
  padding: 5px;
  font-size: 3rem;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  border: 2px solid #7ec19b;
}

@media (max-width: 680px) {
  .subscribeForm form input {
    width: calc(100% - 100px);
    font-size: 2rem;
  }
}

.subscribeForm form button {
  display: inline-block;
  width: 200px;
  padding: 5px;
  font-size: 3rem;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  border: 2px solid transparent;
  background-color: #7ec19b;
  color: #fff;
}

@media (max-width: 680px) {
  .subscribeForm form button {
    width: 100px;
    font-size: 2rem;
  }
}

.footerNavContainer {
  width: 100%;
}

.footerNav .footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

@media (max-width: 680px) {
  .footerNav .footerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.footerNav .footerFlex .bottomNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 200px;
}

@media (max-width: 680px) {
  .footerNav .footerFlex .bottomNav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-height: auto;
    width: 100%;
    padding: 20px 0;
  }
}

.footerNav .footerFlex .bottomNav ul li {
  width: 150px;
}

@media (max-width: 680px) {
  .footerNav .footerFlex .bottomNav ul li {
    width: auto;
  }
}

.footerNav .footerFlex .bottomNav ul a {
  font-family: poynter-oldstyle-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  padding: 20px 20px;
  display: inline-block;
  margin-left: -20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 680px) {
  .footerNav .footerFlex .bottomNav ul a {
    padding: 10px 20px;
    margin-left: 0;
  }
}

.footerNav .footerFlex .bottomNav ul a:hover, .footerNav .footerFlex .bottomNav ul a:focus {
  color: #7ec19b;
}

.footerNav .footerFlex .socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 680px) {
  .footerNav .footerFlex .socialMediaIcons {
    width: 100%;
  }
}

.footerNav .footerFlex .socialMediaIcons li {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 680px) {
  .footerNav .footerFlex .socialMediaIcons li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footerNav .footerFlex .socialMediaIcons a {
  padding: 0 20px;
  font-size: 4rem;
  color: #edbc88;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 680px) {
  .footerNav .footerFlex .socialMediaIcons a {
    padding: 0 40px;
  }
}

.footerNav .footerFlex .socialMediaIcons a:nth-of-type(3) {
  padding-right: 0;
}

@media (max-width: 680px) {
  .footerNav .footerFlex .socialMediaIcons a:nth-of-type(3) {
    padding-right: 40px;
  }
}

.footerNav .footerFlex .socialMediaIcons a:hover, .footerNav .footerFlex .socialMediaIcons a:focus {
  color: #de882c;
}

.footerNav h2 {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 680px) {
  .footerNav h2 {
    font-size: 2rem;
  }
}
